<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ShieldNet - GuardCore</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="{{ url_for('static', filename='img/fevicon.png') }}" rel="icon" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/317fe3b535.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='path/to/wow/animate.css') }}">
    <script src="{{ url_for('static', filename='path/to/wow/wow.min.js') }}"></script>
</head>

<body>
    <div class="container-xxl bg-white p-0">


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0">ShieldNet</h1>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">

                    </div>
                </div>
            </nav>
            <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated slideInDown">GuardCore</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                            <nav aria-label="breadcrumb">

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">

                            <h5 class="section-title text-secondary justify-content-center">Overview</h5>
                            <p class="m-0">GuardCore is a software protection solution that makes use of the concept of virtualization to obfuscate the end-users code. It comes with its own instruction set, virtual stack and virtual registers which emulate the workings of an actual CPU. With these handy tools, it will interpret the user code in real time during execution while making sure there are no concerning hits to performance and speed, ultimately protecting your code from otherwise malicious intents.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        <!-- Download Button Start -->
        <div class="container-xxl py-5 text-center">
            <a href="{{ url_for('views.download_file') }}" class="btn btn-lg btn-primary">Download Now</a>
        </div>
        <!-- Download Button End -->

        <!-- Compatibility Table Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.3s">
            <div class="container py-5 px-lg-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Platform</th>
                            <th>Operating System</th>
                            <th>Programming Language</th>
                            <th>Preferred IDE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">Windows</td>
                            <td>Windows 10, Windows 8, Windows 7</td>
                            <td>C++</td>
                            <td>Visual Studio</td>
                        </tr>
                        <tr>
                            <td>Windows Server 2019, 2016, 2012</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Windows Vista, XP</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mac</td>
                            <td>macOS Big Sur, Catalina, Mojave</td>
                            <td>C++</td>
                            <td>Xcode</td>
                        </tr>
                        <tr>
                            <td>Linux</td>
                            <td>Ubuntu, CentOS, Fedora, Debian</td>
                            <td>C++</td>
                            <td>Visual Studio Code, Qt Creator</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Compatibility Table End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">

                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="
