<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>ShieldNet - Fortifying Your Digital Frontiers</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="keywords">

    <meta content="" name="description">

  

    <link href="{{ url_for('static', filename='img/fevicon.png') }}" rel="icon" type="image/x-icon">

   

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

    

    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

   

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

   

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/317fe3b535.js" crossorigin="anonymous"></script>

</head>



<body>

    <div class="container-xxl bg-white p-0">

        <!-- Spinner Start -->

        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">

            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">

                <span class="sr-only">Loading...</span>

            </div>

        </div>

        <!-- Spinner End -->





        <!-- Navbar & Hero Start -->

        <div class="container-xxl position-relative p-0">

            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">

                <a href="{{ url_for('views.index') }}" class="navbar-brand p-0">

                    <h1 class="m-0">ShieldNet</h1>

                    

                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

                    <span class="fa fa-bars"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <div class="navbar-nav mx-auto py-0">

                       

                </div>

            </nav>



            <div class="container-xxl py-5 bg-primary hero-header">

                <div class="container my-5 py-5 px-lg-5">

                    <div class="row g-5 py-5">

                        <div class="col-12 text-center">

                            <h1 class="text-white animated slideInDown">Terms and Conditions</h1>

                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">

                            <nav aria-label="breadcrumb">

                               

                            </nav>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Navbar & Hero End -->





        <!-- Service Start -->

        <div class="container-xxl py-5">

            <div class="container py-5 px-lg-5">

                <div class="wow fadeInUp" data-wow-delay="0.1s">

                    

                    <h4 class="text-lg-start mb-5"><h4 class="text-center mb-5">1. Use of Services</h4><br>



                    You may use the Services only for lawful purposes and in accordance with these Terms. You are responsible for complying with all applicable laws, regulations, and policies related to your use of the Services.<br><br><br>

                        <h4 class="text-center mb-5">

                            2. Intellectual Property</h4><br>



                            The Website and its contents, including but not limited to text, graphics, logos, images, and software, are protected by copyright, trademark, and other intellectual property laws. You may not modify, reproduce, distribute, display, or sell any content from the Website without our prior written consent.<br><br><br>

                       

                        <h4 class="text-center mb-5"> 3. User Content</h4><br>



                        You may submit or upload content to the Services, such as comments, reviews, or feedback ("User Content"). By submitting User Content, you grant us a non-exclusive, royalty-free, worldwide, perpetual, and irrevocable license to use, reproduce, modify, adapt, publish, translate, distribute, and display such User Content in connection with the Services.<br><br><br>

                        <h4 class="text-center mb-5">4. Privacy</h4><br>



                        Your use of the Services is subject to our Privacy Policy, which explains how we collect, use, disclose, and protect your personal information. By using the Services, you consent to the terms of our Privacy Policy.<br><br><br>

                            <h4 class="text-center mb-5">5. Disclaimers</h4><br>

                            THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. WE DISCLAIM ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTY THAT THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE.



                                

                             </h4>

                </div>

               

            </div>

        </div>

         





        



        <!-- Footer Start -->

        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">

            <div class="container py-5 px-lg-5">

                <div class="row g-5">

                    

            <div class="container px-lg-5">

                <div class="copyright">

                    <div class="row">

                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">

                              &copy; <a class="border-bottom" href="{{ url_for('views.index') }}">ShieldNet</a>, All Rights Reserved.  

							

							

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Footer End -->





        <!-- Back to Top -->

        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    </div>



    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>

    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>



    <!-- Template Javascript -->

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>



</html>
